._home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s var(--IOCubic);
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
._home .mask {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: calc(100% - 500);

  transform-origin: center;

  border: 0px solid transparent;

  border-bottom-color: white;
}

._home.white .main h2,
._home.white .main div {
  transition: color 0.6s var(--IOCubic);
}
._home .home-bg-video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: absolute;
  inset: -100%;

  display: block;
}

._home > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
._home .main {
  color: white;
  text-align: center;
  z-index: 2;

  position: relative;
}
._home .main .logo {
  width: 36vw;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  min-height: 60px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 20px #1118);
  animation: logo-home 6s forwards;
}
@keyframes logo-home {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes main-home {
  0% {
    opacity: 0;
    transform: translateY(24px);
    filter: none;
  }
  80% {
    opacity: 1;
    filter: drop-shadow(0px 0px 20px #1118);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
._home .main h2 {
  text-transform: uppercase;
  font-family: var(--font2);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.05em;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0.75rem;
  animation: main-home 1.5s 6.5s forwards ease-out;
  transform: translateY(24px);
  opacity: 0;
  transition: all 0.6s var(--IOCubic);
}
._home .main h2.rush {
  animation: main-home 1.5s forwards ease-out;
}

._home .main div {
  text-align: center;
  letter-spacing: 0.075rem;
  opacity: 0;
  max-width: 860px;
  margin-bottom: 2rem;
  transform: translateY(20px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  animation: main-home 1.5s 6.5s forwards ease-out;
  transition: all 0.6s var(--IOCubic);
}
.permanent {
  opacity: 1 !important;
  position: static !important;
  margin: auto;
  margin-top: 20px;
  transform: none !important;
  width: unset !important;
}
._home .main h3 {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 40px;
}
