@font-face {
  font-family: "OptimaLTPro";
  src: url("./Assets/Fonts/OptimaLTPro-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Font 2 */
@font-face {
  font-family: "Graphic-Regular";
  src: url("./Assets/Fonts/Graphik-Regular-Trial.otf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font1: "Graphic-Regular";
  --font2: "OptimaLTPro";
  --black: black;
  --light-grey-30: #f3f1ef;
  --sky-blue: #98d2dd;
  --rich-blue: #0a0a3d;
  --sand: #dbc0a8;
  --gold: #e19a18;
  --light-grey-70: #e2dfdb;
  --white: white;
  --footer-black: #1d1d1d;
  --black-35-opacity: #00000059;
  --pdp-nav-height: 144px;
  --IOCubic: cubic-bezier(0.65, 0, 0.35, 1);
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--font1);
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0;
  padding: 0;

  /* scroll-snap-type: y proximity; */
}

body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
._App {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scroll-behavior: smooth;
  width: 100vw;
}

._App > div {
  scroll-snap-align: center;
}
._App::-webkit-scrollbar {
  display: none;
}
.hide {
  opacity: 0 !important;
  transform: translateY(20px);
  transition: all 0.9s var(--IOCubic);
}
.force-show .hide,
.force-show.hide {
  opacity: 1 !important;
  transform: translateY(0px);
}
